@using Microsoft.AspNet.Identity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="container">
</div>
@Scripts.Render("~/Scripts/changePass.js")
<div class="col-lg-12">
    <p>U bent nu ingelogd als Klantadministrator op dit webplatform. </p>
    <p>U kunt nu navigeren naar de beheerpagina.</p>
    @ViewBag.Melding
</div>


@section scripts{} 