
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-8">

        <ul>
            <li>@Html.ActionLink("StartSSHOVM", "StartSSHOVM", "SSH")</li>


        </ul>

    </div>
</div>

