<style>
    #LijstServerVMs {
        width: 30%;
        float: left;
    }

    .VmRow:hover {
        color: blue;
    }

    div#VmInfo {
        float: left;
        position: relative;
    }

    div#btns {
        float: right;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("table#LijstServerVMs").delegate("tr:not(:first)", "click", function () {
            $(".VmRow").css("color", "rgb(0, 0, 0)");
            $(this).css("color", "rgb(244, 78, 66)");
            showInfo();
        });
        showVmNames();
        loadKlantenAccounts();
    });

    function showVmNames() {
        if ($("#ShowVms").css("display") != "none") {
            $("table#LijstServerVMs").find("tr").remove();
            $("#VmInfo").css("display", "none");

        }
        $.ajax("/api/Klant/SSH/KlantOVMs", {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                ShowVms(data);
            })
    };
    function ShowVms(LijstServerVMs) {
        $.each(LijstServerVMs, function (index, value) {
            addVM(value);
        })
        $("#ShowVms").css("display", "block");
    }
    function changeColor() {
        $(this).css('background-color', 'rgb(58, 187, 252)');
    }
    function addVM(vm) {
        $("table#LijstServerVMs").append("<tr  class=VmRow id=" + vm.id + ">" + "<td>" + vm.Name + "</td>" /*+ "<td>" + vm.Status + "</td>"*/ + "</tr>");
    }
    function showInfo() {
        $("#KlantAccCheck").hide();
        $("#ListVmInfo").find("tr").remove();
        $("#VmInfo").css("display", "none");
        var t;
        $("tr.VmRow").each(function () {
            if ($(this).css('color') == "rgb(244, 78, 66)") {
                //t = $(this).children("td:first").attr("id");
                t = $(this).attr('id');
                //t.replace(".", "-");
                //alert(t);
            }
        })
        $.ajax("/api/SSH/info/" + t, { //+ $(this).val(), {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                var text = data;
                //alert(text);
                //alert("test");
                $.each(data, function (index, value) {
                    $("table#ListVmInfo").append("<tr class=VmInfoRow> <td>" + value + "</td> </tr>");
                })
                $("#VmInfo").css("display", "block");
                $("table#ListVmInfo").find("tr:first").css("font-weight", "bold");
                $("#KlantAccCheck").show();

            })
    };

    function StopVM() {
        var t;
        $("tr.VmRow").each(function () {
            if ($(this).css('color') == "rgb(244, 78, 66)") {
                t = $(this).attr('id');
                //alert(t);
            }
            $.ajax("/api/SSH/StopVM/" + t, {
                type: "GET",
                dataType: "json"
            })
                .done
                (function (data) {
                })
        });
        //document.location.reload();
        showVmNames();

    };

    function StartVM() {
        var t;
        $("tr.VmRow").each(function () {
            if ($(this).css('color') == "rgb(244, 78, 66)") {
                //t = $(this).children("td:first").attr("id");
                t = $(this).attr('id');
                //t.replace(".", "-");
                // alert(t);
            }
            $.ajax("/api/ssh/StartVM/" + t, { //+ $(this).val(), {
                type: "GET",
                dataType: "json"
            })
                .done
                (function (data) {
                })
        });
        //document.location.reload()
        showVmNames();

    };

    function loadKlantenAccounts() {
        //$("#KlantAccCheck").find("input").remove();
     //   $("#KlantAccCheck").find("#CheckBox").remove();

        $("#KlantAccCheck").hide();
        $.ajax("/api/Klant/KlantAccounts", {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                $.each(data, function (index, value) {
                    $("#KlantAccCheck").append("<input type=checkbox id=CheckKlant name=chk_Klant  value=" + "'" + value.Naam + "'" + "/>" + value.Naam);//+"<br />");
                })
            });
    }
    function SaveKlantAccount() {
        var t;
       // var k;
        $("input#CheckKlant").each(function () {
            var k;
            if ($(this).is(":checked")) {
                alert("if lus");
                k = $(this).val()
                alert(k);
                $("tr.VmRow").each(function () {
                    if ($(this).css('color') == "rgb(244, 78, 66)") {
                        t = $(this).attr('id');
                        alert(k);
                        alert(t);
                        $.ajax("/api/Klant/SSH/lijstcreate/" + t + "/" + k, {
                            type: "GET",
                            dataType: "json"
                        })
                            .done
                    }
                })
          }
            else {
                k = $(this).val()
                $("tr.VmRow").each(function () {
                    if ($(this).css('color') == "rgb(244, 78, 66)") {
                        t = $(this).attr('id');
                        //alert("t=" + t);
                        alert(k);
                        alert(t);
                        $.ajax("/api/Klant/SSH/lijstDelete/" + t + "/" + k, {
                            type: "GET",
                            dataType: "json"
                        })
                            .done
                    }
                })
            }
                   
                })
                
        //$("tr.VmRow").each(function () {
        //    if ($(this).css('color') == "rgb(244, 78, 66)") {
        //        t = $(this).attr('id');
        //        //alert("t=" + t);
        //        $.ajax("/api/SSH/KlantOVM/" + t + "/" + k, {
        //            type: "GET",
        //            dataType: "json"
        //        })
        //            .done
        //            (function (data) {
        //                $("select").hide();
        //                $("#btnSave").hide();
        //            })
        //    }
        //});
        showVmNames();
    }
</script>

<div >
    <h1>Beheer Virtuele Machines</h1>
</div>


<div id="ShowVms" style="display:none">
    <table id="LijstServerVMs" class="table">
        <tr>
            <th>Name</th>
            @*<th>Status</th>*@

        </tr>
    </table>
</div>

<div id="VmInfo" style="display:none">
    <table id="ListVmInfo" class="table"></table>
</div>
<div id="KlantAccCheck" style="display:none">

</div>
<div id="btns">
    <button class=" btn btn-default" id="btn" onclick="StopVM()">Stop VM </button>
    <button class=" btn btn-default" id="btn" onclick="StartVM()">Start VM </button>
</div>
<button class=" btn btn-default" id="btnSave" onclick="SaveKlantAccount()">Save KlantAccounts</button>
@*@Scripts.Render("~/Scripts/Ssh/sshScripts.js")*@