<style>
    #LijstServerVMs {
        width: 30%;
        float: left;
    }

    .VmRow:hover {
        color: blue;
    }

    div#VmInfo {
        float: left;
        position: relative;
    }

    div#KlantDiv {
        float: left;
        width: auto;
        margin-left: 5%;
    }

    div#btns {
        float: right;
    }
    div#scherm {
        margin-top: 2%;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("table#LijstServerVMs").delegate("tr:not(:first)", "click", function () {
            $(".VmRow").css("color", "rgb(0, 0, 0)");
            $(this).css("color", "rgb(244, 78, 66)");
            showInfo();
        });
        loadKlantenAccounts();
        showVmNames();
    });

    function showVmNames() {
        $("#btns").hide();
        $("#KlantAccCheck").hide();
        
        if ($("#ShowVms").css("display") != "none") {
            $("table#LijstServerVMs").find("tr:not(:first)").remove();
            $("#VmInfo").css("display", "none");

        }
        $.ajax("/api/Klant/SSH/KlantOVMs", {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                ShowVms(data);
            })
    };
    function ShowVms(LijstServerVMs) {
        $.each(LijstServerVMs, function (index, value) {
            addVM(value);
        })
        $("#ShowVms").css("display", "block");
    }
    function changeColor() {
        $(this).css('background-color', 'rgb(58, 187, 252)');
    }
    function addVM(vm) {
        $("table#LijstServerVMs").append("<tr  class=VmRow id=" + vm.id + ">" + "<td>" + vm.Name + "</td>" /*+ "<td>" + vm.Status + "</td>"*/ + "</tr>");
    }
    function showInfo() {
        $("#btns").css("display", "none");
        $("#KlantAccCheck").hide();
        $("#ListVmInfo").find("tr").remove();
        $("#VmInfo").css("display", "none");
        var t;
        $("input#CheckKlant").each(function () {
          //  alert($(this).val())
            if ($(this).is(":checked")) {
               // alert($(this).val())
                $(this).prop("checked", false);
            }
        })
        $("tr.VmRow").each(function () {
            if ($(this).css('color') == "rgb(244, 78, 66)") {
                //t = $(this).children("td:first").attr("id");
                t = $(this).attr('id');
                //t.replace(".", "-");
                //alert(t);
            }
        })
        $.ajax("/api/SSH/info/" + t, { //+ $(this).val(), {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                var text = data;
                //alert(text);
                //alert("test");
                $.each(data, function (index, value) {
                    $("table#ListVmInfo").append("<tr class=VmInfoRow> <td>" + value + "</td> </tr>");
                })
                $("#VmInfo").css("display", "block");
                $("table#ListVmInfo").find("tr:first").css("font-weight", "bold");
                $("input#CheckKlant").each(function () {
                    var k = $(this).attr("class");
                    //alert(t+" "+k)
                    searchOvmLijst(k, t);
                })
                
                $("#KlantAccCheck").show();
                $("#btns").css("display", "block");

            })
    };

    function StopVM() {
        var t;
        $("tr.VmRow").each(function () {
            if ($(this).css('color') == "rgb(244, 78, 66)") {
                t = $(this).attr('id');
                //alert(t);
            }
            $.ajax("/api/SSH/StopVM/" + t, {
                type: "GET",
                dataType: "json"
            })
                .done
                (function (data) {
                })
        });
        //document.location.reload();
        showVmNames();

    };

    function StartVM() {
        var t;
        $("tr.VmRow").each(function () {
            if ($(this).css('color') == "rgb(244, 78, 66)") {
                //t = $(this).children("td:first").attr("id");
                t = $(this).attr('id');
                //t.replace(".", "-");
                // alert(t);
            }
            $.ajax("/api/ssh/StartVM/" + t, { //+ $(this).val(), {
                type: "GET",
                dataType: "json"
            })
                .done
                (function (data) {
                })
        });
        showVmNames();

    };
    function searchOvmLijst(klantId, ovmId) {
        //alert("test");
        //alert(klantId);
        //alert(ovmId)
        $.ajax("/api/Klant/OvmLijst/" + klantId + "/" + ovmId, {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                if (!$.trim(data)) {
                }
                else {
                    $("input." + klantId).prop("checked", true);
                }
            })
    }
    function loadKlantenAccounts() {
        $("#KlantAccCheck").hide();
        //var t;
        //$("tr.VmRow").each(function () {
        //    if ($(this).css('color') == "rgb(244, 78, 66)") {
        //        t = $(this).attr('id');
        $.ajax("/api/Klant/KlantAccounts", {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                $.each(data, function (index, value) {
                    //searchOvmLijst(value,t)
                    $("#KlantAccCheck").append("<tr><td><input class="+value.KlantId+" type=checkbox id=CheckKlant name=chk_Klant  value=" + "'" + value.Email + "'" + "/>" + value.Email + "</tr></td>");//+"<br />");

                })
            });
    }
    function SaveKlantAccount() {
        var t;
        var k;
        $("input#CheckKlant").each(function () {

            if ($(this).is(":checked")) {
                //alert("if lus");
                k = $(this).val()
                alert(k)
                $("tr.VmRow").each(function () {
                    if ($(this).css('color') == "rgb(244, 78, 66)") {
                        t = $(this).attr('id');
                        $.ajax("/api/Klant/SSH/lijstcreate/" + t + "/" + k+"/", {
                            type: "GET",
                            dataType: "json"
                        })
                            .done
                    }
                })
            }
            if ($(this).is(":checked") == false) {
                k = $(this).val()
                $("tr.VmRow").each(function () {
                    if ($(this).css('color') == "rgb(244, 78, 66)") {
                        t = $(this).attr('id');
                        $.ajax("/api/Klant/SSH/lijstDelete/" + t + "/" + k+"/", {
                            type: "GET",
                            dataType: "json"
                        })
                            .done
                    }
                })
            }

        })
        showVmNames();
        //$("#btns").css("display", "none");
        //$("#KlantAccCheck").hide();

    }
</script>

@*<div>
        <h1>Beheer Virtuele Machines</h1>
    </div>*@

<div id="scherm">

    <div id="ShowVms" style="display:none">
        <table id="LijstServerVMs" class="table">
            <tr>
                <th>Name</th>
                @*<th>Status</th>*@

            </tr>
        </table>
    </div>

    <div id="VmInfo" style="display:none">
        <table id="ListVmInfo" class="table"></table>
    </div>
    <div id="KlantDiv">
        <table id="KlantAccCheck" style="display:none">
            <tr><th>Medewerkers</th></tr>

        </table>

    </div>
    <div id="btns" style="display:none">
        <div id="Vm">
            <table>
                <tr><th>Virtuele Machine</th></tr>
                <tr>
                    <td>
                        <button class=" btn btn-default" id="btn" onclick="StopVM()">Stop VM </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class=" btn btn-default" id="btn" onclick="StartVM()">Start VM </button>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr><th>Klant</th></tr>
                <tr>
                    <td>
                        <button class=" btn btn-default" id="btnSave" onclick="SaveKlantAccount()">Save KlantAccounts</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
@*@Scripts.Render("~/Scripts/Ssh/sshScripts.js")*@
