<style>

    table#LijstServerVMs {
        width: 15%;
        float: left;
        margin-right: 1%;
    }

    table#LijstKlanten {
        width: 15%;
        float: left;
        margin-right: 1%;
    }

    table#LijstKlanten {
        width: 15%;
    }

    table#LijstLogs {
        width: 25%;
    }

    table#LijstKlantLogs {
        width: 25%;
    }

    div#ShowKlanten {
        float: left;
        position: relative;
    }

    .LogRowEmpty {
        text-align: center;
    }
</style>
@{
    ViewBag.Title = "LogKlant";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
        //$(document).ready(function () {
        //    $("table#LijstServerVMs").delegate("tr:not(:first)", "click", function () {
        //        $(".VmRow").css("color", "rgb(0, 0, 0)");
        //        $(this).css("color", "rgb(244, 78, 66)");
        //        ShowLogsVM();
        //    });
        //    $("table#LijstKlanten").delegate("tr:not(:first)", "click", function () {
        //        $(".VmRow").css("color", "rgb(0, 0, 0)");
        //        $(this).css("color", "rgb(244, 78, 66)");
        //        ShowLogsKlant();
        //    });

        //    $(".Vm").change(function () {
        //        if ($("input.Vm").prop('checked', true)) {
        //            $("input.Klant").prop('checked', false);
        //            //showToegekend();
        //            $("#ShowLogs").css("display", "none");
        //            $("#ShowKlantLogs").css("display", "none");
        //            //$("table#LijstServerVms").find("tr:not(:first)").remove();
        //            showVmNames(true);
        //        }
        //    })
        //    $(".Klant").change(function () {
        //        if ($("input.Klant").prop('checked', true)) {
        //            $("input.Vm").prop('checked', false);
        //            //showNietToegekend();
        //            $("#ShowLogs").css("display", "none");
        //            $("#ShowKlantLogs").css("display", "none");
        //            $(".VmRow").css("color", "inherit");
        //            $("table#LijstServerVMs").find("tr:not(:first)").remove();
        //            loadKlanten();
        //        }
        //    })
        //    //loadKlanten();
        //});


        ////=============KLANTEN===================
        //function ShowLogsKlant() {
        //    $("table#LijstKlantLogs").find("tr:not(:first)").remove();

        //    var id;
        //    $("tr.VmRow").each(function () {
        //        if ($(this).css('color') == "rgb(244, 78, 66)") {
        //            id = $(this).attr('id');
        //        }
        //    })
        //    // alert(id);
        //    $.ajax("/api/Klant/SSH/LogLijstUser/"+id, {
        //        type: "GET",
        //        dataType: "json"
        //    })
        //        .done(function (data) {
        //            if (data == false) {
        //                $("table#LijstKlantLogs").append("<tr  class=LogRowEmpty><td colspan=3>"+"Nog geen Loglijsten"+"</td></tr>");
        //            }
        //            else {
        //            $.each(data, function (index, value) {
        //                $("table#LijstKlantLogs").append("<tr  class=LogRow><td>" + value.Ovm + "</td> <td> " + value.Naam + "</td><td>" + value.ActionDate + "</td>" + "</tr>");
        //                })
        //            }
        //            $("#ShowKlantLogs").show();

        //        })
        //}
        //function loadKlanten() {
        //    $("table#LijstKlanten").find("tr:not(:first)").remove();
        //    $("table#LijstServerVms").find("tr:not(:first)").remove();

        //    //$("#VmInfo").css("display", "none");

        //    //alert('test')
        //    $("#ShowVms").hide();
        //    $.ajax("/api/SSH/GetKlantenUser", {
        //        type: "GET",
        //        dataType: "json"
        //    })
        //        .done(function (data) {
        //            //alert(data)
        //            ShowKlanten(data);
        //        });
        //}
        //function ShowKlanten(LijstKlanten) {
        //    $.each(LijstKlanten, function (index, value) {
        //        //alert(value)
        //        addKlant(value);
        //    })
        //    $("#ShowKlanten").css("display", "block");

        //}
        //function addKlant(klant) {
        //    //alert('add');
        //    $("table#LijstKlanten").append("<tr  class=VmRow id=" + klant.KlantId + ">" + "<td>" + klant.Email + "</td></tr>");
        //    if (klant.IsKlantAccount == false) {
        //        // changeColor(vm.id);
        //        $("#" + klant.KlantId).css("font-weight", "bold");

        //        // $("#" + klant.KlantId).hide();
        //    }
        //    //} else if (bool == false) {
        //    //    $("#" + vm.id).show();
        //    //}

        //    //} else {
        //    //    if (bool == true) {
        //    //        $("#" + vm.id).show();
        //    //    } else if (bool == false) {
        //    //        $("#" + vm.id).hide();
        //    //    }
        //    //}
        //}
        ////=============VMs=========================
        //function ShowLogsVM() {
        //    $("table#LijstLogs").find("tr:not(:first)").remove();

        //    var id;
        //    $("tr.VmRow").each(function () {
        //        if ($(this).css('color') == "rgb(244, 78, 66)") {
        //            id = $(this).attr('id');
        //        }
        //    })
        //    // alert(id);
        //    $.ajax("/api/Klant/SSH/LogLijstOvm/" + id, {
        //        type: "GET",
        //        dataType: "json"
        //    })
        //        .done(function (data) {
        //            if (data == false) {
        //                $("table#LijstLogs").append("<tr  class=LogRowEmpty><td colspan=3>" + "Nog geen Loglijsten" + "</td></tr>");
        //            }
        //            else {
        //                $.each(data, function (index, value) {
        //                    $("table#LijstLogs").append("<tr  class=LogRow><td>" + value.Gebruiker + "</td> <td> " + value.Naam + "</td><td>" + value.ActionDate + "</td>" + "</tr>");
        //                })
        //            }
        //            $("#ShowLogs").show();
        //        })
        //}
        //function showVmNames() {
        //    //alert(id+bool);
        //    //$("table#LijstServerVms").find("tr:not(:first)").remove();

        //    $("#ShowKlanten").hide();
        //    $(".VmRow").css("background-color", "inherit");
        //    if ($("#ShowVms").css("display") != "none") {
        //        $("table#LijstServerVMs").find("tr:not(:first)").remove();
        //    }
        //    $.ajax("/api/Klant/SSH/KlantOVMs", {
        //        type: "GET",
        //        dataType: "json"
        //    })
        //        .done(function (data) {
        //            ShowVms(data);
        //            //alert(bool);
        //        });

        //}
        //function ShowVms(LijstServerVMs) {
        //    $.each(LijstServerVMs, function (index, value) {
        //        addVM(value);
        //    })
        //    $("#ShowVms").css("display", "block");

        //}
        //function addVM(vm) {
        //        $("table#LijstServerVMs").append("<tr  class=VmRow id=" + vm.id + ">" + "<td>" + vm.Name + "</td></tr>");
        //}

</script>
<h2>Audits Klant</h2>
@Scripts.Render("~/Scripts/changePass.js")
@Scripts.Render("~/Scripts/LogKlant.js")
<div id="scherm">

</div>
<div>
    <input class="Vm" type="checkbox" id="CheckKlant" name="chk_Klant" value="Toegewezen">Vms
    <input class="Klant" type="checkbox" id="CheckKlant" name="chk_Klant" value="Niet-Toegewezen">Klanten

</div>

<div id="ShowVms" style="display:none">
    <table id="LijstServerVMs" class="table">
        <tr>
            <th>Name</th>

        </tr>
    </table>
</div>
<div id="ShowKlanten" style="display:none">
    <table id="LijstKlanten" class="table">
        <tr>
            <th>Name</th>

        </tr>
    </table>
</div>
<div id="ShowLogs" style="display:none">
    <table id="LijstLogs" class="table">
        <tr>
            <th>Gebruiker</th>
            <th>Actie</th>
            <th>Tijdstip</th>

        </tr>
    </table>
</div>
<div id="ShowKlantLogs" style="display:none">
    <table id="LijstKlantLogs" class="table">
        <tr>
            <th>Machine</th>
            <th>Actie</th>
            <th>Tijdstip</th>
        </tr>
    </table>
</div>
