@Styles.Render("~/Content/ShowVm.css")
@Scripts.Render("~/Script/Main/Ovm.js")
<style>
    hr {
        border-top: none;
    }

    input#CheckKlant {
        position: inherit;
        opacity: 100;
    }
    input#time {
        opacity: 100;
        position: inherit;
    }

    input#date {
        opacity: 100;
        position: inherit;
    }
    table#ListVmInfo{
        margin-left:2%;
    }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
       // alert("test");
        //$("select").hide();
        $("#btnSave").hide();
        $(".checkToeg").change(function () {
            if ($("input.checkToeg").prop('checked', true)) {
                $("input.checkNietToeg").prop('checked', false);
                //showToegekend();
                showVmNames($("#servers").val(), true);
            }
        })
        $(".checkNietToeg").change(function () {
            if ($("input.checkNietToeg").prop('checked', true)) {
                $("input.checkToeg").prop('checked', false);
                //showNietToegekend();
                showVmNames($("#servers").val(), false);
            }
        })
        $("table#LijstServerVMs").delegate("tr:not(:first)", "click", function () {
            $(".VmRow").css("color", "rgb(0, 0, 0)");
            $(this).css("color", "rgb(244, 78, 66)");
            showInfo();
        });
        //alert("heheh");
        getServersDB();
    });

    function checkForVms() {
        $("select").hide();
        $("#btnSave").hide();
        $.ajax("/api/SSH/VmsDb", {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                ShowVms(data);
            })
    }
    function getServersDB() {
        //alert("test");
        $.ajax("/api/ssh/getServersDB", {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                $.each(data, function (index, value) {
                    $("#servers").append("<option class='" + value.ServersId + "'value='" + value.Id + "' > " + value.ServerNaam + "</option > ");
                })
                $("#servers").css("display", "block");
                $("#servers").change(function () {
                    if ($("div#CheckBox").css("display", "block")) {
                        if ($("input.checkNietToeg").prop('checked')== true) {
                            showVmNames($("#servers").val(), false);
                        } 
                        if ($("input.checkToeg").prop('checked') == true) {
                                showVmNames($("#servers").val(), true);
                            }
                                                
                    } else {
                        showVmNames($("#servers").val());
                        $("div#CheckBox").css("display", "block");
                    }                    
                })
            })
    }
    function loadKlanten(klant) {
        //alert(klant)
        $("select").show();
        $("#btnSave").show();
        $.ajax("/api/SSH/Klanten", {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                $("#klantenlijst").find("option").remove();
                $("#btns").css("display", "block");
                $.each(data, function (index, value) {                    
                    $("#klantenlijst").append("<option class=klant> " + value.Naam + "</option>");
                })
                $("#klantenlijst").each(function () {
                   // alert(klant);
                    $('option:contains(' + klant + ')').prop('selected', true);
                })
                
            });
    }
    function showVmNames(id, bool) {
        //alert(id+bool);
        //$("div#btns").hide();
        //$("#btnSave").hide();
        $(".VmRow").css("background-color", "inherit");
        // alert("vmnames");
        if ($("#ShowVms").css("display") != "none") {
            $("table#LijstServerVMs").find("tr:not(:first)").remove();
            $("#VmInfo").css("display", "none");
        }
        if (id == 0) {
            $.ajax("/api/SSH/GetAllVmsDB", {
                type: "GET",
                dataType: "json"
            })
                .done(function (data) {
                    ShowVms(data, bool);
                    //alert(bool);
                })
        } else {
            $.ajax("/api/SSH/vmsDB/" + id + "/", {
                type: "GET",
                dataType: "json"
            })
                .done(function (data) {
                    ShowVms(data, bool);
                })
        };        
    }
    function ShowVms(LijstServerVMs, bool) {
        $.each(LijstServerVMs, function (index, value) {
            addVM(value, bool);
        })
        $("#ShowVms").css("display", "block");

    }
    function changeColor(id) {
        $("#" + id).css('background-color', 'rgb(190, 192, 196)');
    }
    function addVM(vm, bool) {
        $("table#LijstServerVMs").append("<tr  class=VmRow id=" + vm.id + ">" + "<td>" + vm.Name + "</td>" /*+ "<td>" + vm.Status + "</td>"*/ + "</tr>");
        if (vm.KlantId == 0) {
            changeColor(vm.id);
            if (bool == true) {
                $("#" + vm.id).hide();
            } else if (bool == false) {
                $("#" + vm.id).show();
            }

        } else {
            if (bool == true) {
                $("#" + vm.id).show();
            } else if (bool == false) {
                $("#" + vm.id).hide();
            }
        }
    }
    function showInfo(id) {
        var klant;
        $('#Dialog-Box').hide();
        $("select#LijstServerVms").hide();
        $("#btns").css("display", "none");
        $("#ListVmInfo").find("tr").remove();
        $("#VmInfo").css("display", "none");
        var t;
        if (id == null || id == "") {

            $("tr.VmRow").each(function () {
                if ($(this).css('color') == "rgb(244, 78, 66)") {
                    t = $(this).attr('id');
                }
            })
        } else {
            t = id;
        }
        $.ajax("/api/SSH/info/" + t, {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                
                var text = data;
                $.each(data, function (index, value) {
                    //alert(value)
                    if (index == 0) {
                        $("table#ListVmInfo").append("<tr class=VmInfoRow> <td> id: " + value + "</td> </tr>");

                    } else {
                        if (index == 7) {
                            $("table#ListVmInfo").append("<tr class=VmInfoRow> <td> Klant = " + value + "</td> </tr>");
                            klant = value;
                           // alert(klant)
                        } else {
                            $("table#ListVmInfo").append("<tr class=VmInfoRow> <td>" + value + "</td> </tr>");

                        }

                    }
                })
                $(".VmInfoRow").each(function () {
                    if ($(this).is(':contains("Running")')) {
                        $(this).css("color", "green");
                    } else {
                        if ($(this).is(':contains("Stopped")')) {
                            $(this).css("color", "red");
                        }
                        else {
                            if ($(this).is(':contains("Status")')) {
                                $(this).css("color", "orange");
                            }
                        }
                    }
                })
                $('#Dialog-Box').show();
                loadKlanten(klant);
                $("#VmInfo").css("display", "block");
                $("table#ListVmInfo").find("tr:first").css("font-weight", "bold");
                checkDowntime(t, false)
                $("tr#" + t).css("color", "rgb(244, 78, 66)")
            })
    }
    function StopVM() {
        var t;
        var naam;
        var duur;
      

        $("tr.VmRow").each(function () {
            if ($(this).css('color') == "rgb(244, 78, 66)") {
                t = $(this).attr('id');
                //alert(t);
            }
            $.ajax("/api/SSH/StopVM/" + t, {
                type: "GET",
                dataType: "json"
            })
                .done
                (function (data) {
                })
        });
        duur = prompt("Hoelang wilt u de server in downtime zetten? (in minuten)");
        naam = "Stop";
        DownTime(t,duur);
        CreateLog(t, naam);
        if ($(".checkToeg").is(":checked") && $(".checkNietToeg").is(":checked") == false) {
            showVmNames($("#servers").val(), true);
        }
        if ($(".checkToeg").is(":checked") == false && $(".checkNietToeg").is(":checked")) {
            showVmNames($("#servers").val(), false);
        }
        showInfo(t);


    }
    function RestartVM() {
        alert("Dit kan 30 seconden duren");
        var t;
        var naam;
        $("tr.VmRow").each(function () {
            if ($(this).css('color') == "rgb(244, 78, 66)") {
                t = $(this).attr('id');
            }
            $.ajax("/api/SSH/RestartVM/" + t + "/", {
                type: "GET",
                dataType: "json"
            })
                .done
                (function (data) {
                })
        });
        naam = "Restart";
        CreateLog(t, naam);
        if ($(".checkToeg").is(":checked") && $(".checkNietToeg").is(":checked") == false) {
            showVmNames($("#servers").val(), true);
        }
        if ($(".checkToeg").is(":checked") == false && $(".checkNietToeg").is(":checked")) {
            showVmNames($("#servers").val(), false);
        }        for (var i = 0; i < 100; i++) {
            if (i == 50) {
                showInfo(t);
            }
        }

    }
    function StartVM() {
        var t;
        var naam;
        $("tr.VmRow").each(function () {
            if ($(this).css('color') == "rgb(244, 78, 66)") {
                //t = $(this).children("td:first").attr("id");
                t = $(this).attr('id');
                //t.replace(".", "-");
                // alert(t);
            }
                $.ajax("/api/ssh/StartVM/" + t + "/", { //+ $(this).val(), {
                    type: "GET",
                    dataType: "json"
                })
                    .done
                    (function (data) {

                    })
           
        });
        naam = "Start"
        CreateLog(t, naam);
        if ($(".checkToeg").is(":checked") && $(".checkNietToeg").is(":checked") == false) {
            showVmNames($("#servers").val(), true);
        }
        if ($(".checkToeg").is(":checked") == false && $(".checkNietToeg").is(":checked")) {
            showVmNames($("#servers").val(), false);
        }        for (var i = 0; i < 100; i++) {
            if (i == 50) {
                showInfo(t);
            }
        }

    }
    function CreateLog(id, naam) {
        $.ajax("/api/ssh/CreateNaam/" + id + "/" + naam, { //+ $(this).val(), {
            type: "GET",
            dataType: "json"
        })
            .done
            (function (data) {
            })
    }
    function SaveKlantVM() {
        var t;
        var k = $("#klantenlijst").val();
        $("tr.VmRow").each(function () {
            if ($(this).css('color') == "rgb(244, 78, 66)") {
                t = $(this).attr('id');
                //alert(k);
                $.ajax("/api/SSH/KlantOVM/" + t + "/" + k, {
                    type: "GET",
                    dataType: "json"
                })

                    .done
                    (function (data) {
                        //$("div#btns").hide();
                        //$("#btnSave").hide();
                        $("#" + data).css('background-color', 'inherit');
                        $("#" + data).css('color', "rgb(244, 78, 66)");
                        showInfo();
                    })
            }
        });
        //     alert($("#servers").val());
        if ($(".checkToeg").is(":checked") && $(".checkNietToeg").is(":checked") == false) {
            showVmNames($("#servers").val(), true);
        }
        if ($(".checkToeg").is(":checked") == false && $(".checkNietToeg").is(":checked")) {
            showVmNames($("#servers").val(), false);
        }
    }
    $('#Dialog-Box').dialog({
        autoOpen: false,
        height: 500,
        width: 700,
        modal: false
    });
    function OpenDialog() {
        loadKlanten();
        $('#Dialog-Box').dialog('open');
    }
    function checkDowntime(id, bool) {
        if (bool == true) {
            alert("Downtime succesvol toegevoegd!")
        }
        if ($("#DivDownTime").css("display") != "none") {
            $("table#Downtime").find("tr:not(:first)").remove();
        } $("#DivDownTime").css("display", "none");


        $.ajax("/api/Klant/SSH/GetDowntime/" + id + "/", {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                $.each(data, function (index, value) {
                    $("table#Downtime").append("<tr><td>" + value.Gebruikersnaam +"</td><td>" + value.Start + "</td><td>" + value.Eind + "</td></tr>");
                })
            })
        $("#DivDownTime").css("display", "block");
    }
    //////////=====================================================================

    function ScheduleDownTime() {
        $("tr.VmRow").each(function () {
            if ($(this).css('color') == "rgb(244, 78, 66)") {
                id = $(this).attr('id');
            }
        })
        var date1;
        date1 = $("tr#sched").children("td").children("input#date").val();
        var date2;
        date2 = $("tr#sched2").children("td").children("input#date").val();
        var time1;
        time1 = $("tr#sched").children("td").children("input#time").val();
        var time2 = $("tr#sched2").children("td").children("input#time").val();
        var startdate;
        startdate = (date1.replace("-", "", )).replace("-", "");
        var starttime;
        starttime = time1.replace(":", "");
        var einddate = (date2.replace("-", "", )).replace("-", "");
        var eindtime = time2.replace(":", "");
        var begin = startdate + starttime;

        var eind = einddate + eindtime;
        $.ajax("/api/Klant/SSH/ScheduleDowntime/" + id + "/" + begin + "/" + eind + "/", {
            type: "GET",
            dataType: "json"
        })
            .done
        checkDowntime(id, true);
    }

</script>

@*<div>
        <h1>Beheer Virtuele Machines</h1>
    </div>*@
@Scripts.Render("~/Scripts/changePass.js")
@Scripts.Render("~/Scripts/SSHFunctions.js")
<div id="scherm">
    <div>
        <select class="form-control" id="servers">
            <option>Kies Server</option>
            <option value="0">Alle servers</option>

        </select>
    </div>
    <div id="CheckBox" style="display:none">
        <input class="checkToeg" type="checkbox" id="CheckKlant" name="chk_Klant" value="Toegewezen">Toegewezen vms
        <input class="checkNietToeg" type="checkbox" id="CheckKlant" name="chk_Klant" value="Niet-Toegewezen">Niet-Toegewezen vms

    </div>
    <div id="ShowVms" style="display:none">
        <table id="LijstServerVMs" class="table">
            <tr>
                <th>Name</th>

            </tr>
        </table>
    </div>
    <div id="VmInfo" style="display:none">
        <table id="ListVmInfo" class="table"></table>
    </div>
   
    <div id="btns" style="display:none">
        <div id="Dialog-Box">
            <table id="klantTable">
                <tr><th>Klant</th></tr>
                <tr>
                    <td>
                        <select class="form-control" id="klantenlijst"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class=" btn btn-default" id="btnSave" onclick="SaveKlantVM()">Save Klant</button>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr><th>Virtuele Machine</th></tr>
                <tr>
                    <td>
                        <button class=" btn btn-default" id="btn" onclick="StopVM()">Stop VM </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class=" btn btn-default" id="btn" onclick="StartVM()">Start VM </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class=" btn btn-default" id="btn" onclick="RestartVM()">Restart VM </button>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr><th>Downtime</th></tr>
                <tr><td colspan="2">Geef hieronder start en einde van de geplande downtime in.</td></tr>
                <tr id="sched"><td><label>Begintijd</label></td><td><input type="date" id="date"></td><td><input type="time" id="time"></td></tr>
                <tr id="sched2"><td><label>Eindtijd</label></td><td><input type="date" id="date"></td><td><input type="time" id="time"></td></tr>
                <tr>
                    <td>
                        <button class=" btn btn-default" id="btn" onclick="ScheduleDownTime()">Schedule Downtime</button>
                    </td>
                </tr>
            </table>
        </div>
        <div id="DivDownTime" style="display:none">
            <table id="Downtime">
                <thead>Geplande Downtime</thead>
                <tr><th>Gebruiker</th><th>Begin</th><th>Eind</th></tr>
            </table>
        </div>
    </div>
</div>