body {
    font-family:Lato;
}
h1,h2,h3,h4,h5,h6{
    font-family:Lato;
}

div#LayBar {
    background-color: #B83535;
 max-height:50px;
}
.container{
    max-width:inherit;
    max-height:inherit;
}
.navbar-inverse .navbar-nav > li > a{
    color:white;
}
.navbar-inverse .navbar-brand{
    color:white;
}
#LayBar a:hover {
    color:black
}

 div img {
     float:left;
     height:49px !important;
     margin-right:2% !important;
 }
 .navbar-header{
     float:none;
     width: inherit;
 }
 .navbar-brand{
     float:left !important;
 }
 div.opties{
     float:right;
 }
div.test {
    max-height:inherit;
}/*
 ul#Menu li {
     margin-left:2% !important;
     float:left;
 }
ul#Menu li a {
    text-decoration:inherit !important;
    margin:inherit;
     
}
ul.navbar-nav{
    float:none !important;
}*/
