body {
    font-family:Lato;
}
h1,h2,h3,h4,h5,h6{
    font-family:Lato;
}

div#LayBar {
    background-color: #B83535;
 
}
 ul li a:hover{
     color:grey !important;
 }
 ul li a{
     color:white !important;
 }
 li.logo img {
     height:50px !important;
     margin-right:2% !important;
 }
 ul#Menu li {
     margin-left:2% !important;
     float:left;
 }
    ul#Menu li:hover {
        background-color: #B83535 !important;
        color:grey !important;
    }
ul.navbar-nav{
    float:none !important;
}
