body {
    font-family:Lato;
}
h1,h2,h3,h4,h5,h6{
    font-family:Lato;
}

div#LayBar {
    background-color: #B83535;
 
}
 ul li a:hover{
     color:grey !important;
 }
 ul li a{
     color:white !important;
 }
 div.logo img{
     height:50px;
 }