@{
    ViewBag.Title = "Contact";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@Scripts.Render("~/Scripts/changePass.js")
<address>
    Prins Boudewijnlaan 41<br />
    B-2650 Edegem<br />
    <abbr title="Phone">P:</abbr>
    +32(0)3 450 67 89
</address>

<address>
    <strong>Senior Database Enigineer:</strong>   <a href="mailto:kristof.vangeenderhuysen@monin-it.be">kristof.vangeenderhuysen@monin-it.be</a><br />
    <strong>Managing partner:</strong> <a href="mailto:Dries.moelans@monin-it.be">Dries.moelans@monin-it.be</a>
</address>
