@{
    ViewBag.Title = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@Scripts.Render("~/Scripts/changePass.js")
<div class="row">
    <div class="col-md-4">
        <h1>MONIN</h1>
        <p>
            Database Managed Services
        </p>
    </div>

</div>
@*@Scripts.Render("~/Scripts/changePass.js")*@
<div class="row">
    <div class="col-md-4">

        <p>
            Om dit platform te gebruiken moet u klant zijn bij monin. Op de Contact pagina vindt u de gegevens van Monin
            Voor meer info kunt u de <a href="https://www.monin-it.be">website</a> van monin checken
        </p>
    </div>

</div>